<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig
	xmlns="http://ibatis.apache.org/dataMapper"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<settings>
		<setting useStatementNamespaces="true"/>
	</settings>

	<providers embedded="Config.providers.config, ProphetsWay.iBatisTools.Ex.DataAccess.Take1"/>

	<database>

		<provider name="sqlServer2008"/>
    <dataSource name="LocalDatabase" connectionString=""/>
    
    <!--
    <dataSource name="local" connectionString="Data Source=${servername};Initial Catalog=Atlas;user id=${username};password=${password};Connection Timeout=60;Max Pool Size=1000"/>
		-->
    
	</database>

	<sqlMaps>
		<!--	DropDownMap must be first, others are referencing it	-->
		<sqlMap embedded="Maps.CompanyMap.xml, ProphetsWay.iBatisTools.Ex.DataAccess.Take1"/>
    <sqlMap embedded="Maps.JobMap.xml, ProphetsWay.iBatisTools.Ex.DataAccess.Take1"/>
    <sqlMap embedded="Maps.UserMap.xml, ProphetsWay.iBatisTools.Ex.DataAccess.Take1"/>

  </sqlMaps>
</sqlMapConfig>