<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig
	xmlns="http://ibatis.apache.org/dataMapper"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="xsd\SqlMapConfig.xsd">

	<settings>
		<setting useStatementNamespaces="true"/>
	</settings>

	<providers resource="Config\providers.config" />

	<database>

		<provider name="sqlServer2008"/>
		<dataSource name="ProphetsWay.Example" connectionString="Initial Catalog=ProphetsWay.Example;Data Source=localhost;user id=${username};password=${password};Connection Timeout=60;Max Pool Size=1000"/>

	
	</database>

	<sqlMaps>
	
		<sqlMap resource="Maps\CompanyMap.xml" />
		<sqlMap resource="Maps\JobMap.xml" />
		<sqlMap resource="Maps\UserMap.xml" />

	</sqlMaps>
</sqlMapConfig>